NEXT_PUBLIC_BACKEND_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_GAME_SERVER_URI=http://localhost:3003
NEXT_PUBLIC_FACEBOOK_APP_ID=FACEBOOK_APP_ID_PLACEHOLDER
NEXT_PUBLIC_FACEBOOK_REDIRECT_URI=accounts/fbCallback
NEXT_PUBLIC_GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID_PLACEHOLDER
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=accounts/googleCallback
NEXT_PUBLIC_MICROSOFT_CLIENT_ID=MICROSOFT_CLIENT_ID_PLACEHOLDER
NEXT_PUBLIC_MICROSOFT_REDIRECT_URI=accounts/msCallback
NEXT_PUBLIC_PROJECT_ID=PROJECT_ID_PLACEHOLDER
NODE_ENV=development
COOKIE_DOMAIN=localhost
HTTPS=false
NEXT_PUBLIC_TOKEN_DISTRIBUTOR_ADDRESS=TOKEN_DISTRIBUTOR_ADDRESS_PLACEHOLDER
NEXT_PUBLIC_PLAY2_HELP_TOKEN=PLAY2_HELP_TOKEN_PLACEHOLDER
NEXT_PUBLIC_RPC_URL=http://localhost:8545
PRIVATE_KEY=PRIVATE_KEY_PLACEHOLDER
CRON_SECRET=CRON_SECRET_PLACEHOLDER